:root {
  /* Colors */
  --color-muted-purple: hsla(239, 10%, 57%, 1);
  --color-off-white: hsla(0, 0%, 98%, 1);
  --color-teal: hsla(192, 37%, 48%, 1);
  --color-dark-purple: hsla(240, 21%, 20%, 1);
  --color-purple: hsla(268, 34%, 53%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-light-cyan: hsla(192, 90%, 77%, 1);
  --color-decorative-separator: hsla(240, 10%, 57%, 0.25);

  --primary-text-color: var(--color-muted-purple);
  --secondary-text-color: var(--color-off-white);

  --primary-heading-color: var(--color-dark-purple);
  --secondary-heading-color: var(--color-teal);
  --tertiary-heading-color: var(--color-off-white);

  --primary-background-color: var(--color-off-white);

  /* Primary button colors */
  --color-primary-btn: var(--color-teal);
  --color-primary-btn-hover: hsla(192, 54%, 64%, 1);
  --color-primary-btn-text: var(--color-light-cyan);

  /* Secondary button colors */
  --color-secondary-btn: var(--color-purple);
  --color-secondary-btn-hover: hsla(268, 55%, 71%, 1);
  --color-secondary-btn-text: hsla(268, 100%, 86%, 1);

  /* Font Family */
  --font-family: "Red Hat Display", sans-serif;

  /* Font Weights */
  --font-weight-500: 500;
  --font-weight-900: 900;

  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 32px;
  --font-size-4: 40px;
  --font-size-5: 48px;
  --font-size-6: 64px;

  --line-height-1: 1.1;
  --line-height-2: 1.12;
  --line-height-3: 1.44;
  --line-height-4: 1.62;

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 10px;
  --spacing-6: 12px;
  --spacing-7: 14px;
  --spacing-8: 16px;
  --spacing-9: 20px;
  --spacing-10: 24px;
  --spacing-11: 28px;
  --spacing-12: 32px;
  --spacing-13: 36px;
  --spacing-14: 40px;
  --spacing-15: 44px;
  --spacing-16: 48px;
  --spacing-17: 56px;
  --spacing-18: 64px;
  --spacing-19: 80px;
  --spacing-20: 96px;
  --spacing-21: 112px;
  --spacing-22: 128px;

  --border-radius-1: 8px;

  --horizontal-margin: -26px;

  --before-line-width: calc(var(--spacing-17) / 2);
  --before-line-height: 84px;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-4);
  color: var(--primary-text-color);
  background-color: hsl(0, 0%, 95%);
}

h1,
.h1 {
  font-size: var(--font-size-4);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-900);
  color: var(--primary-heading-color);
}

h2,
.h2 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-900);
  color: var(--color-off-white);
}

h3,
.h3 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-900);
  color: var(--primary-heading-color);
}

.button {
  padding-block: var(--spacing-8);
  padding-inline: var(--spacing-11);
  border: none;
  border-radius: var(--spacing-11);
  color: var(--color-white);
  text-decoration: none;
  font-weight: var(--font-weight-900);
  cursor: pointer;
}

.primary {
  background-color: var(--color-primary-btn);
  padding-inline: var(--spacing-14);
}

.primary:hover {
  background-color: var(--color-primary-btn-hover);
  transition: background-color 0.2s ease;
}

.secondary {
  background-color: var(--color-secondary-btn);
}

.secondary:hover {
  background-color: var(--color-secondary-btn-hover);
  transition: background-color 0.2s ease;
}

.hero-section .accent {
  color: var(--color-primary-btn-text);
}

.promo-section .accent {
  color: var(--color-secondary-btn-text);
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.site-header {
  background-color: var(--color-off-white);
}

.decorative-separator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: var(--spacing-17);
  height: var(--spacing-17);
  border: 1px solid var(--color-decorative-separator);
  background-color: var(--color-off-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: var(--font-weight-900);
}

.line {
  height: var(--before-line-height);
  border-left: 1px solid var(--color-decorative-separator);
}

.line-break {
  display: block;
}

.main-nav {
  text-align: center;
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-17);
}

.logo-link {
  display: inline-block;
}

/* Hero Section */

.hero-section {
  display: grid;
  overflow-x: clip;
  > img:first-of-type {
    min-width: calc(100% + calc(var(--horizontal-margin) * -2));
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
  }
}

.hero-image-left,
.hero-image-right {
  display: none;
}

.hero-container {
  padding-inline: var(--spacing-10);
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-18);
}

.hero-content {
  text-align: center;
  max-width: 457px;
  margin-inline: auto;
}

.hero-heading {
  margin-bottom: var(--spacing-10);
}

.hero-description {
  margin-bottom: var(--spacing-12);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8);
}

/* Features Section */

.features-section {
  text-align: center;
  padding-bottom: var(--spacing-18);
  padding-top: var(--spacing-18);
  display: flex;
  flex-direction: column;
  background-color: var(--color-off-white);
}

.gallery-container {
  padding-inline: var(--spacing-10);
  margin-bottom: var(--spacing-18);
  margin-inline: auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-10);
  list-style-type: none;
  padding-left: 0;
}

.gallery-item > img {
  border-radius: var(--border-radius-1);
}

/* Features Content */

.features-container {
  padding-inline: var(--spacing-10);
}

.features-content {
  max-width: 573px;
  margin-inline: auto;
}

.features-heading {
  font-size: var(--font-size-1);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-900);
  color: var(--secondary-heading-color);
  letter-spacing: var(--spacing-2);
  margin-bottom: var(--spacing-10);
}

.features-subheading {
  margin-bottom: var(--spacing-12);
  max-width: 332px;
  margin-inline: auto;
}

/* Promo Section */

.promo-container {
  position: relative;
  padding-top: var(--spacing-21);
  background-color: var(--color-off-white);
  > .decorative-separator {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.promo-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-bottom: 72px;
  padding-inline: var(--spacing-10);
  text-align: center;
  background-color: var(--color-dark-purple);
  background-image: url("/assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.promo-section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--color-teal);
  opacity: 0.85;
  z-index: 1;
}

.promo-content {
  position: relative;
  z-index: 2;
  max-width: 573px;
  margin-inline: auto;
  color: var(--color-off-white);
  > .button {
    --color-primary-btn: var(--color-secondary-btn);
    --color-primary-btn-text: var(--color-secondary-btn-text);
    --color-primary-btn-hover: var(--color-secondary-btn-hover);
  }
}

.promo-heading {
  margin-bottom: var(--spacing-10);
}

.promo-description {
  margin-bottom: var(--spacing-12);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);
}

@media (min-width: 768px) {
  .main-nav {
    padding-bottom: var(--spacing-18);
  }

  .hero-container {
    padding-top: 72px;
  }

  .hero-heading {
    font-size: var(--font-size-5);
    line-height: 1;
  }

  .button-container {
    flex-direction: row;
    justify-content: center;
  }

  .hero-container {
    padding-bottom: var(--spacing-19);
  }

  .features-section {
    padding-top: var(--spacing-18);
    padding-bottom: var(--spacing-19);
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1110px;
    gap: var(--spacing-8);
  }

  .gallery-container {
    padding-inline: var(--spacing-14);
    margin-bottom: var(--spacing-16);
  }

  .features-heading {
    margin-bottom: var(--spacing-8);
  }

  .features-subheading {
    font-size: var(--font-size-4);
    line-height: var(--line-height-1);
    max-width: 445px;
  }

  .promo-section {
    background-image: url("/assets/tablet/image-footer.jpg");
    padding-bottom: var(--spacing-18);
  }

  .promo-content {
    max-width: 1110px;
  }

  .promo-heading {
    font-size: var(--font-size-4);
    margin-bottom: var(--spacing-12);
  }

  .promo-description {
    margin-bottom: var(--spacing-14);
    font-size: var(--font-size-2);
  }
}

@media (min-width: 1200px) {
  .main-nav {
    padding-top: var(--spacing-19);
    padding-bottom: 60px;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr 540px 1fr;
    margin-bottom: var(--spacing-21);
  }

  .main-hero {
    display: none;
  }

  .hero-image-left {
    grid-column: 1 / 2;
    justify-self: start;
    display: block;
    order: 1;
    align-self: flex-start;
    margin-left: -32px;
  }

  .hero-image-right {
    grid-column: 3 / 4;
    justify-self: end;
    display: block;
    order: 3;
    align-self: flex-end;
    margin-right: -32px;
  }

  .hero-container {
    order: 2;
    padding: 0;
    padding-top: var(--spacing-17);
  }

  .hero-content {
    max-width: 540px;
  }

  .hero-heading {
    font-size: var(--font-size-6);
    margin-bottom: 34px;
  }

  .hero-description {
    font-size: var(--font-size-2);
    line-height: var(--line-height-3);
  }

  .gallery-container {
    margin-bottom: var(--spacing-19);
  }

  .gallery {
    gap: 30px;
  }

  .features-desciption {
    font-size: var(--font-size-2);
    line-height: var(--line-height-3);
  }

  .promo-section {
    background-image: url("/assets/desktop/image-footer.jpg");
    padding-top: var(--spacing-21);
    padding-bottom: 104px;
  }

  .promo-heading {
    line-height: var(--line-height-1);
    margin-bottom: 0;
  }

  .promo-description {
    margin-bottom: 0;
  }

  .promo-content {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .promo-heading,
  .promo-description {
    max-width: 350px;
  }
}
